.sushi-rice-calculator {
    padding: 1rem;
    background: linear-gradient(180deg, var(--primary-300) 0%, var(--primary-400) 25%);
    border-radius: 7.5px;
    max-width: 500px;
    width: 100%;
    color: black;
    box-shadow: .5px 2px 3px 2px var(--secondary-200);
}

/* .quantitiesForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
} */

.quantitiesForm > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .5rem;
}

fieldset > legend {
    display: inline-block;
}

.people > input[type='number'] {
    padding-block: 0.2rem;
    /* width: 3.75rem; */
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgb(118, 118, 118);
    cursor: pointer;
}

.people > input[type='number']::-webkit-outer-spin-button,
.people > input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
    padding: 0.3rem 0.6rem;
    /* width: 6rem; */
    text-align: center;
    appearance: none;
    border-radius: 2px;
    cursor: pointer;
}

.quantities {
    border-radius: 5px;
    padding-inline: 1rem;
    background-color: #fff;
    color: black;
}

.quantities > * {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
}

.quantities > *:not(:first-child) {
    border-top: 1px solid black;
}

.unitsForm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
