.sushi-rice-calculator {
    padding: 1rem;
    background-color: hsla(6, 93%, 71%, 0.85);
    border-radius: 7.5px;
    max-width: 500px;
    width: 100%;
    color: white;
    box-shadow: 0 2px 2px 4px rgb(0 0 0 / 20%);
}

.peopleForm,
.hungrinessForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.peopleForm > input[type='number'] {
    padding-block: 0.2rem;
    /* width: 3.75rem; */
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgb(118, 118, 118);
    cursor: pointer;
}

.peopleForm > input[type='number']::-webkit-outer-spin-button,
.peopleForm > input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
    padding: 0.3rem 0.6rem;
    /* width: 6rem; */
    text-align: center;
    appearance: none;
    border-radius: 2px;
    cursor: pointer;
}

.quantities {
    border-radius: 5px;
    padding-inline: 1rem;
    background-color: rgb(255, 255, 255);
    color: black;
}

.quantities > * {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
}

.quantities > *:not(:first-child) {
    border-top: 1px solid black;
}

.unitsForm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
